.cart{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left:0;
  top:0;
  z-index: $z-cart;
  background-color: $white;
  @include respond-to(phone){
    height: 80vh;
    width: 100vw;
    bottom: 0px;
    width: 100vw;
    top:auto;
    bottom:0;
    margin:0;
    left: 0;
  }
}



.clickOut{
  position: fixed;
  background: transparent;
  bottom:$margin-sides;
  left:50%;
  margin-left:-100px;
  width:100px;
  height: auto;
  z-index: $z-clickOut;
  p{
    width:100%;
    @include hover-effect-color($black, $green);
  }

}

.cart-contents{
  height: 100%;
}
.cart-ul{
  position: absolute;
  left: 0;
  top:0;
  width:50vw;
  height:auto;
  overflow:scroll;
  .cart-li{
    width:100%;
    display:block;
    height: 70px;
    position: relative;
    margin-top: $margin-top-li;


    .cart-li-text{
      float:left;
      margin-left: $margin-sides;
      // margin-top: $margin-sides;
      // padding-bottom: $margin-sides;
      .cart-li-name{
        @include paragraph();
      }
      .cart-li-price{
        width:auto;
        @include paragraph();
      }
    }
    .cart-li-remove{
      position: absolute;
      right: $margin-sides;
      top:50%;
      height:30px;
      margin-top: -15px;
      @include paragraph();
    }

  }
}

.cart-total{
  position: absolute;
  left:50px;
  bottom: 100px;
  height: auto;
  width: auto;
  margin-bottom: $margin-sides;
  .cart-total-tax{
    @include paragraph();
  }
  .cart-total-amount{
    @include paragraph();
  }
}














.form-title{
  @include h2();
  color: #FFFFFF;
}



.checkout-button{
  position: absolute;
  top: 0;
  right:0;
  width: 50%;
  text-align: center;
  height: 100vh;
  line-height: 100vh;
  @include h1();
  @include hover-effect-color($black, $green);
  background-color: $white;
  border: 0;
  outline: 0;
  cursor:pointer;
}

.cart-back{
  position: absolute;
  left:$margin-sides;
  bottom: $margin-sides;
  height: auto;
  width: auto;
  p{
    @include paragraph();
  }
}


.form-entry{
  width:100%;
  height:20px;
  position: relative;
  margin-top: 5px;
  &:nth-child(1){
    margin-top: 15px;
  }
  input{
    width: 150px;
    left: 0px;
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    text-align: left;
    color: $black;
    outline:0;
    border:0;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    @include paragraph();
    @include respond-to(phone){
      line-height: normal;
    }
    $placeholder-color:$black;
    &:hover, &:focus{
      outline:0;
    }

    &::-webkit-input-placeholder {
       color: $black;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $black;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $black;
    }

    &:-ms-input-placeholder {
        color: $black;
    }

  }

}




select{
  width: 150px;
  left: 0px;
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
  border:0;
  color: $black;
  text-align: left;
  outline:0;
  background-color: transparent;

  @include paragraph();
  $placeholder-color:$black;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  outline: 0;
  -webkit-appearance: none;

  appearance: none;
  box-shadow: none;
  border-radius: none;

  &::-webkit-input-placeholder {
     color: $black;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $black;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $black;
  }

  &:-ms-input-placeholder {
      color: $black;
  }
}




// .ng-valid .ng-pending .ng-pristine .ng-submitted

input.ng-dirty.ng-invalid , select.ng-dirty.ng-invalid{
  border: 1px solid #FFFF00;
}
