.cart{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left:0vw;
  top:0;
  z-index: $z-cart;
  background-color: $white;
  @include respond-to(phone){
    height: 80vh;
    width: 100vw;
    bottom: 0px;
    width: 100vw;
    top:auto;
    bottom:0;
    margin:0;
    left: 0;
  }
}





.dollar{
  position: fixed;
  top:50%;
  left:$margin-sides;
  height:100px;
  margin-top: -50px;
  width:auto;
  z-index: $z-shop-dollar;
  a{
    position: relative;
    display: block;
    width:auto;
    height: 100px;
    .dollar-icon{
      width:100px;
      height:100px;
      svg{
        height:100%;
        width:100%;
      }

    }

  }
  .dollar-contents{
    display: block;
    position: absolute;
    color:$white;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
  }
}





.clickOut{
  position: fixed;
  position: fixed;
  top:$margin-sides;
  left:$margin-sides;
  width:100px;
  height: 100px;
  z-index:$z-clickOut;
  svg{
    @include hover-effect-fill($white, $black, 'ex');
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }

}

.cart-contents{
  height: 100%;
}
.cart-ul{
  position: relative;
  width:50vw;
  margin: auto;
  height:auto;
  overflow:scroll;
  padding-top: $padding-top-ul;
  .cart-li{
    width:100%;
    display:block;
    height: 70px;
    position: relative;
    margin-top: $margin-top-li;
    .cart-li-img{
      // width:70px;
      height:70px;
      float: left;
      // margin-left: 70px;
    }

    .cart-li-text{
      float:left;
      margin-left: $margin-sides;
      // margin-top: $margin-sides;
      // padding-bottom: $margin-sides;
      .cart-li-name{
        @include paragraph();
      }
      .cart-li-price{
        width:auto;
        @include paragraph();
      }
    }

    .cart-li-remove{
      position: absolute;
      right: $margin-sides;
      top:50%;
      height:30px;
      margin-top: -15px;
      @include paragraph();
    }

  }
}

.cart-total{
  position: relative;
  width: 50vw;
  margin: auto;
  margin-top: $margin-top-li;
  padding-bottom: $padding-top-ul;
  .cart-total-tax{
    @include paragraph();
  }
  .cart-total-amount{
    @include paragraph();
  }
}














.form-title{
  @include h2();
  color: #FFFFFF;
}

.form-subtitle{
  @include h2();
  color:$white;
  background-color: $black;
  text-align: center;
}



.checkout-button{
  position: fixed;
  top: 50%;
  right:$margin-sides;
  text-align: center;
  height: 20vw;
  width:20vw;
  background-color: $white;
  cursor:pointer;
  @include transform-element(translateY(-50%));
  border: 0;
  outline: 0;

  h1{
    @include h1();
    @include hover-effect-color($black, $green);
    width: 100%;
    text-align: center;
    top:50%;
    @include transform-element(translateY(-50%));
    position: absolute;
    display: block;
    z-index:9;
  }
  .checkout-button-icon{
    height:20vw;
    width:20vw;
    position: absolute;
    // @include transform-element(translateX(-50%));
    left:0%;
    top:0%;
    svg{
      height:100%;
      width:100%;
    }
  }
}





.cart-error{
  position: absolute;
  top:50%;
  left:0%;
  width:100vw;
  text-align: center;
  @include transform-element(translateY(-50%));
}

.cart-back{
  position: absolute;
  left:$margin-sides;
  bottom: $margin-sides;
  height: auto;
  width: auto;
  p{
    @include paragraph();
  }
}


.form-entry{
  width:100%;
  height:20px;
  position: relative;
  margin-top: 5px;
  &:nth-child(1){
    margin-top: 15px;
  }
  input{
    width: 100%;
    left: 0px;
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    text-align: left;
    color: $black;
    outline:0;
    border:0;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    @include paragraph();
    @include respond-to(phone){
      line-height: normal;
    }
    $placeholder-color:$black;
    &:hover, &:focus{
      outline:0;
    }

    &::-webkit-input-placeholder {
       color: $black;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $black;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $black;
    }

    &:-ms-input-placeholder {
        color: $black;
    }

  }

}




select{
  width: 100%;
  left: 0px;
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
  border:0;
  color: $black;
  text-align: left;
  outline:0;
  background-color: transparent;

  @include paragraph();
  $placeholder-color:$black;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  outline: 0;
  -webkit-appearance: none;

  appearance: none;
  box-shadow: none;
  border-radius: none;

  &::-webkit-input-placeholder {
     color: $black;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $black;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $black;
  }

  &:-ms-input-placeholder {
      color: $black;
  }
}




// .ng-valid .ng-pending .ng-pristine .ng-submitted

input.ng-dirty.ng-invalid , select.ng-dirty.ng-invalid{
  border: 1px solid #FFFF00;
}
