

.detail{
  width:100vw;
  position: relative;
}

.detail-images{
  position: relative;
  top:0;
  .detail-images-single{
    &:nth-child(1){
      margin-top: 10vh;
    }
    .detail-img{
      max-width: 40vw;
      margin: auto;
      display: block;
      margin-top: 25vh;

      @include respond-to(phone){
        max-width: 70vw;
      }
    }
  }
}

.detail-images.zoom{
  width:100vw;
  height:auto;
  .detail-images-single{
    width:100vw;
    height:100vh;
    img{
      width: 80vw !important;
      max-width: 80vw;
    }
  }
}


.detail-price{
  position: fixed;
  bottom: $margin-sides;
  left: $margin-sides;
  width: 80px;
  height: 20px;
  line-height: auto;
  text-align: left;
  z-index: $z-price;
  color: $black;
}



.detail-functions{
  position: fixed;
  right: $margin-sides;
  top: 50%;
  width: auto;
  height: auto;
  @include transform-element(translateY(-50%));
  z-index: $z-shop-functions;

}



.detail-add{
  position: fixed;
  bottom: $margin-sides;
  right: $margin-sides;
  height:90px;
  width:90px;
  // margin-left: -45px;
  display: block;
  cursor:pointer;
  p{
    height:100%;
    width:100%;
    svg{
      height:100%;
      width:100%;
      display: block;
    }
  }
  // p{
  //   display: block;
  //   width:100%;
  //   text-align: center;
  //   vertical-align: middle;
  //   margin:0;
  //   @include hover-effect-color($black, $green);
  //   @include paragraph();
  //
  // }
}




.detail-modifiers{
  position: relative;
  // top: $margin-top-paragraph;
  display: inline-block;
  margin-left:$margin-left-paragraph;
  .detail-modifiers-ul{
    display: block;
    width:auto;
    .detail-modifiers-ul-placeholder{
      width:auto;
      display: block;
      float:left;
      @include paragraph();
    }
    .detail-modifiers-variations{
      width:auto;
      display: block;
      float:left;
      margin-left: $margin-left-paragraph;
      .detail-modifiers-variations-li{
        display: block;
        clear: both;
        a{
          @include paragraph();
          @include hover-effect-color($black, $green);

        }
      }
    }
  }
}



.detail-back{
  position: fixed;
  top:$margin-sides;
  left:$margin-sides;
  width:100px;
  height: 100px;
  svg{
    height: 100%;
    width: 100%;
    display: block;
    @include hover-effect-fill($black, $green, 'arrow');
  }
}




@-webkit-keyframes rotate {
from {
-webkit-transform: rotate(180deg);
}
to {
-webkit-transform: rotate(0deg);
}
}

@-moz-keyframes rotate {
from
{
  -moz-transform: rotate(180deg);
}
to {
-moz-transform: rotate(0deg);
}
}

.detail-add.rotate {   -webkit-animation-name:             rotate;
-webkit-animation-duration:         0.5s;
-webkit-animation-iteration-count:  2;
-webkit-animation-timing-function: linear;

-moz-animation-name:             rotate;
-moz-animation-duration:         0.5s;
-moz-animation-iteration-count:  2;
-moz-animation-timing-function: linear;}
