
.payment{
  width:100%;
  height:100%;
  overflow: scroll;
}


.payment-form{
  width:30%;
  height:auto;
  margin: auto;
  .payment-form-div{
    width:100%;
    display:block;
    padding-top:$padding-top-ul;

  }
}



  .payment-total{
    position: relative;
    height: auto;
    width: 30%;
    margin: auto;
    margin-top: $margin-top-li;
    padding-bottom: $padding-top-ul;
    p{
      @include paragraph();
      width:100%;
      span{
        float:right;
        @include paragraph();
      }
    }
  }




.payment-header{
  @include h2();
}
