.shipment{
  width:100%;
  height:100%;
  overflow-y: scroll;
  .shipment-content{
    width: 100%;
    height: auto;

    .shipment-form{
      width:30%;
      height:auto;
      position:relative;
      margin: auto;
      padding-bottom: $padding-top-ul;
    }
  }
}


.customer{
  width:100%;
  display:block;
  position: relative;
  padding-top:$padding-top-ul;
  @include respond-to(phone){
    top: 30px;
    left:30px;
  }
}

.address{
  width:100%;
  display:block;
  position: relative;
  margin-top: $margin-top-li;
  @include respond-to(phone){
    top: 155px;
    left:30px;
  }
}



.billing{
  width:100%;
  display:block;
  position: relative;
  margin-top: $margin-top-li;
  @include respond-to(phone){
    top: 155px;
    left:50px;
  }
}

.isBillingDifferent{
  position: relative;;
  height: auto;
  width: auto;
  margin-bottom: $margin-top-li;;
  margin-top:$margin-top-li;
  @include respond-to(phone){
    top: 125px;
    left:45%;
    margin-left: 30px;
  }
  label{
    @include paragraph();
    text-transform: none;
  }
  input{
    @include paragraph();
  }
}
