
.shop{
  width:100vw;
  height:auto;
  background-color: #FFFFFF;
  position: relative;
}


.shop-content{
  width:100vw;
  height:auto;
}

.product-ul{
  width:100vw;
  height:auto;

  .product-li{
    width:50vw;
    height:100vh;
    margin: auto;
    display:inline-block;
    position: relative;
    z-index: $z-shop-image;
    .product-li-container{
      position: relative;
      width: 20vw;
      margin: auto;
      .product-li-gif{
        position: absolute;
        width: 20vw;
        left:0%;
        top:0;
        margin: auto;
        display: block;
      }
      .product-li-blank{
        max-width: 20vw;
        margin: auto;
        display: block;
      }

      .product-li-img{
        max-width: 20vw;
        margin: auto;
        display: block;

        @include respond-to(phone){
          max-width: 70vw;
        }

      }
    }

    .product-li-add{
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      color: $black;
    }
  }
}




.dollar{
  position: fixed;
  top:50%;
  left:$margin-sides;
  height:50px;
  margin-top: -25px;
  width:auto;
  z-index: $z-shop-dollar;
  a{
    position: relative;
    display: inline-block;
    width:auto;
    height: 50px;
    line-height: 50px;
    .dollar-icon{
      width:40px;
      height:40px;
      svg{
        height:100%;
        width:100%;
      }

    }

  }
  .dollar-contents{
    display: inline-block;
    position: relative;
    color:$black;
    display: inline-block;
    top: 0;
  }
}



.shop-price{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 20px;
  line-height: 20px;
  vertical-align: 20px;
  text-align: center;
  margin-left: -25px;
  margin-top: -10px;
  z-index: $z-price;
  color: $black;
}
