<div class="cart-contents"> <!-- 1 -->


    <ul class="cart-ul">
      <li ng-repeat="c in Cart.contents track by $index" class="cart-li">
        <table>
          <tr>
            <td>
              <img src="{{c.images[0].url.https}}" alt="{{c.name}}" class="cart-li-img"/>

              <div class="cart-li-text">
                <p class="cart-li-name">{{c.quantity}} {{c.name}}</p>
                <p class="cart-li-price">{{c.pricing.formatted.with_tax}}</p>
              </div>


              <span class="cart-li-remove" ng-click="removeItem(c.item)">X</span>
            </td>
          </tr>
        </table>


      </li>
    </ul>


    <div class="cart-total" ng-show="Cart.total_items!=0">
      <p class="cart-total-amount">TOTAL {{Cart.totals.pre_discount.formatted.with_tax}}</p>
    </div>

    <div class="cart-error" ng-show="Cart.total_items==0">
      <p>no products in your cart</p>
    </div>

    <button type="submit" class="checkout-button hvr-sweep-to-right" ng-click="cartToShipment()" ng-show="Cart.total_items!=0">
      <h1>CHECKOUT</h1>
      <div class="checkout-button-icon">
        <dollar-directive></dollar-directive>
      </div>
    </button>


</div>
