<div class="cart-contents"> <!-- 1 -->


    <ul class="cart-ul">
      <li ng-repeat="c in Cart.contents track by $index" class="cart-li">
        <table>
          <tr>
            <td>
              <div class="cart-li-text">
                <p class="cart-li-name">{{c.quantity}} {{c.name}}</p>
                <p class="cart-li-price">{{c.pricing.formatted.without_tax}}</p>
              </div>

              <img src="c.images[0]" alt="" />

              <span class="cart-li-remove" ng-click="removeItem(c.item)">X</span>
            </td>
          </tr>
        </table>


      </li>
    </ul>


    <div class="cart-total">
      <p class="cart-total-amount">TOTAL {{Cart.totals.pre_discount.formatted.without_tax}}</p>
    </div>

    <div class="cart-error" ng-show="noProductsError">
      <p>no products in your cart</p>
      <a ng-click="closeCart()">back</a>
    </div>

    <button type="submit" class="checkout-button hvr-sweep-to-right" ng-click="cartToShipment()">CHECKOUT</button>


</div>
