<div class="processed" ng-cloak>
  <div class="processed-error" ng-hide="Processed.status==200 || Processed==false">
    <p>an error occurred please refresh the page</p>
    <p>{{Processed.data}}</p>
  </div>

  <div class="processed-thankyou" ng-show="Processed.status==200">
    <p>Thank You</p>
    <p>
      your order will be shipped to
      {{Processed.data.order.ship_to.data.address_1}}
      {{Processed.data.order.ship_to.data.city}}
      {{Processed.data.order.ship_to.data.country.value}}
      {{Processed.data.order.ship_to.data.country.value}}
    </p>
  </div>



</div>
