<div class="shop">



      <div class="shop-content">
        <ul class="product-ul">
          <li class="product-li" ng-repeat="p in Product" ng-click="openDetailFN(p.slug)" >
            <table>
              <tr>
                <td>
                  <div class="product-li-container" ng-mouseenter="showGif=true" ng-mouseleave="showGif=false">
                    <!-- <img class="product-li-gif" src="{{p.gif.url}}" alt="{{p.description}}" loop="infinite"  ng-show="showGif"/> -->
                    <!-- -->
                    <img class="product-li-img" src="{{p.images[0].url.https}}" alt="{{p.description}}" ng-hide="showGif"/>

                    <img class="product-li-blank" src="{{p.gif.url}}" alt="{{p.description}}" ng-show="showGif && p.gif.url"/>

                    <img class="product-li-img" src="{{p.images[1].url.https}}" alt="{{p.description}}" ng-show="showGif && !p.gif.url"/>
                    <!-- <a class="shop-li-add" ng-click="addToCart()">add</a> -->
                    <!-- <p class="product-price" ng-cloak>{{p.price.data.formatted.without_tax}}</p> -->
                  </div>

                </td>
              </tr>
            </table>
            <!-- <div class="product-add">
              <p class="product-add-plus-variation hvr-bob" ng-click="addToCart(p.id)">ADD</p>
              <p class="detail-add-plus-variation hvr-bob" ng-show="Detail.has_variation" ng-click="addVariation()" ng-class="{'activeAdd': howManyVAriationsSelected>=Detail.total_variations}">ADD</p>
            </div> -->

          </li>
          <li class="shop-li infinite-loader" infinite-scroll="nextPage_shop()"  infinite-scroll-distance="1"></li>
        </ul>

      </div>










</div>
