/*....................................SCSS VARIABLES..................................*/

$z-nav: 4;
// ........................................................FONT FAMILIES
$font-one: "minerva-modern";
$font-two: "nimbus-sans";



// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;



// ........................................................FONT SIZES
$font-size-nav:35px;
$font-size-h1:35px;
$font-size-h2:20px;
$font-size-paragraph: 18px;

$font-size-nav-mobile:25px;
$font-size-h1-mobile:30px;
$font-size-h2-mobile:14px;
$font-size-paragraph-mobile: 12px;


$letter-spacing: 1px;





$font-family-nav: helvetica;
$font-family-h1: helvetica;
$font-family-h2: helvetica;
$font-family-paragraph: helvetica;



// ........................................................FONT LINEHEIGHTS
$line-height-h1: 50px;
$line-height-h2: 30px;
$line-height-paragraph: 26px;


$line-height-h1-mobile: 40px;
$line-height-h2-mobile: 24px;
$line-height-paragraph-mobile: 18px;

// ........................................................TEXT PADDINGS
$padding-text: 5px;
$padding-left: 0px;
$padding-headline-bottom: 20px;



// ........................................................COLORS
$black: #000000;
$violet: #a899c0;
$white: #FFFFFF;
$yellow: #ede611;
$green: #009900;
$light-grey: #d3d3d3;
$light-grey-transparent: rgba(0,0,0, 0.3);
$light-light-grey: rgba(0,0,0, 0.1);

// ........................................................MARGINS
$margin-sides: 20px;
$margin-bottom: 35px;
$margin-top: 100px;
$margin-top-mobile: 50px;
$margin-sides-mobile:10px;
$margin-left-paragraph:5px;
$margin-top-li:40px;
$margin-top-paragraph:10px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................COLOR CHANGES




// ........................................................FADE INS
$smooth-scroll-timing: 1.4s;




$z-header: 13;
$z-logo:15;
$z-loader: 14;
$z-clickOut: 14;
$z-nav: 13;

$z-cart: 13;
$z-back: 12;

$z-shop-dollar: 11;
$z-shop-functions: 11;
$z-close:10;
$z-home: 10;
$z-shop-image:10;
$z-price:9;


$z-main: 6;


/*....................................................................................*/
